
//colors
$accent: rgba(0, 119, 181, 1);
$text: #181818;
$bg: #0BAAD4;
$hover: darken($bg, 10%);
body{
  overflow-x: hidden;
}
button {
  border: 0;
  padding: 0;
  margin: 0;
}


//fonts
$regular: "Gotham Pro";
$light: "Gotham Pro Light";
$medium: "Gotham Pro Medium";
$bold: "Gotham";



//breack point
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;
.active{
  &:active{
    transform: translateY(4px);

  }
}

@mixin button($width, $height, $bgColor, $color: white, $border: 0, $br: 4px 4px 0px 0px){
  width: $width;
  height: $height;
  background: $bgColor;
  color: $color;
  border: $border;
  border-radius: $br;
  &:hover{
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
  }
  &:hover .button__body{
    color: white;
  }
  &:active{
    height: 40px;
    transition: 0ms;
    transform: translateY(4px);

  }
  &__body {
    color: $text;
    text-decoration: none;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    font-family: $medium;

  }
}
.post__title{
  font-size: 15px;
  line-height: 13px;
  color: #181818;
  font-family: $bold;
  margin-bottom: 5px;
}
.button__body-style{
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
// grid container
// main container section profile
.profile {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
  // grid container position
  .container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    // section profile: avatar, profile information, projects
    .container-section-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 69.5%;
    }
  }
.visitors {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidebar {
  width: 23.7%;
}
// sidebar flex container
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  // header dashboard
  &__header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px auto;
    align-items: center;
  }
  &__title{
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    font-family: $medium;
  }
  // extend animation click
  &__link{
    @extend .active;
    font-size: 12px;
    line-height: 11px;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: $accent;
    text-decoration: none;
  }
}



// animation read more list
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
// animation move router component
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}



