
//colors
$accent: rgba(0, 119, 181, 1);


//fonts
$regular: "Gotham Pro";
$light: "Gotham Pro Light";
$medium: "Gotham Pro Medium";
$bold: "Gotham";



//breack point
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;
