@import "reset";
@import '~normalize.css';
@import "modules/vars";
@import "modules/media";
@import "modules/components/header";
@import "modules/components/pages/myProfile";
@import "modules/components/sectionFooter";
@import "modules/components/pages/feed";
@import "modules/components/pages/network";
@import "modules/components/pages/jobs";

html, body{
  font-family: $regular;
  box-sizing: border-box;
  font-weight: normal;
  font-style: normal;
  color: $text;
}








