@font-face {
  font-family: "GothamProRegular";
  src: url("/GothamProRegular.eot");
  src: url("/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("/GothamProRegular.woff") format("woff"),
  url("/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Regular";

  src: url("/Roboto-Regular.woff") format("woff"), /* Modern Browsers */
  url("/Roboto-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("/GothamProBold.eot");
  src: url("/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("/GothamProBold.woff") format("woff"),
  url("/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}




@font-face {
  font-family: "GothamProMedium";
  src: url("/GothamProMedium.eot");
  src: url("/GothamProMedium.eot?#iefix")format("embedded-opentype"),
  url("/GothamProMedium.woff") format("woff"),
  url("/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLight";
  src: url("/GothamProLight.eot");
  src: url("/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("/GothamProLight.woff") format("woff"),
  url("/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}





